body{
font-family:Arial,sans-serif;
margin:0;
background:#f4f4f4;
}

header{
background:#1d4b76;
color:white;
text-align:center;
padding:20px;
}

nav{
margin-top:10px;
}

nav a{
color:white;
text-decoration:none;
margin:15px;
font-weight:bold;
}

main{
width:80%;
margin:20px auto;
background:white;
padding:20px;
border-radius:8px;
}

.table-container {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th {
    background: #3719e1;
    color: white;
    padding: 14px;
}

td {
    padding: 12px;
    border-bottom: 1px solid #e5e7eb;
    text-align: center;
}

tbody tr:nth-child(even) {
    background: #f8fafc;
}

tbody tr:hover {
    background: #dbeafe;
}

img{
border-radius:8px;
}

footer{
background:#1d4b76;
color:white;
text-align:center;
padding:15px;
margin-top:20px;
}

form input,
form textarea{
width:100%;
padding:8px;
margin-bottom:10px;
}

.project-card img {
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.project-card img:hover {
    transform: scale(.95);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

a {
    color: black;
    text-decoration: none;
}